html {
  min-width: 100%; 
  min-height: 100%; 
  margin: $none auto;
  background-image: url(../../assets/trees.jpg);
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  display: block; 
  width: 100vw; 
  min-height: 100vh; 
  margin: $none auto; 
  background-color: rgba(49,51,58, 0.4); 
  font-family: $bodyFont;
  font-size: $regular;
  color: $cream;
  overflow-x: hidden; 
}
h1,h2,h3 {
  font-family: $bodyFont;
}
h1 { font-size: $Xlarge; }
h2 { font-size: $large; }
h3 { font-size: $medium; }

header {
  min-height: 150px; 
}
main {
  padding-bottom: $spacingXLarge; 
  margin: $none auto; 
}
a{
  color: $brightRed;
  &:visited , &:hover, &:active {
    color: $brightRed;
  }
  &:hover {
    text-decoration: none;
  }
}