html {
  min-width: 100%;
  min-height: 100%;
  margin: $none auto;
  background-image: url(../../assets/sword-pattern.png);
  background-repeat: repeat;
  overflow-x: hidden;
}
body {
  display: block;
  width: 100vw;
  min-height: 100vh;
  margin: $none auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: $bodyFont;
  font-size: $small;
  color: $cream;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: $bodyFont;
}
h1 {
  font-size: $Xlarge;
}
h2 {
  font-size: $medium;
}
h3 {
  font-size: $regular;
}

header {
  min-height: 150px;
}
main {
  padding-bottom: $spacingXLarge;
  margin: $none auto;
}
a {
  color: $brightRed;
  &:visited,
  &:hover,
  &:active {
    color: $brightRed;
  }
  &:hover {
    text-decoration: none;
  }
}
