@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC");
/* Settings */
/* Colors */
/* rgb: 49 51 58*/
/* Fonts */
/* Spacing */
/* Widths */
/* Media queries */
/* Components */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 500px;
  margin: 0px auto;
  padding: 0px;
  background-color: #1C1C1A;
  border-radius: 3px;
}
.board-wrapper {
  width: 600px;
  height: 500px;
  background-color: #2D2E2B;
  padding: 20px;
  border-top: 2px solid #F2E4CE;
  border-bottom: 2px solid #1C1C1A;
  border-radius: 3px;
  margin: 0px auto;
}
.board__tile {
  display: inline-flex;
  width: 50px;
  height: 50px;
}
.board__tile--start, .board__tile--end {
  background-color: #4761a0;
}
.board__tile--path {
  background-color: #F2E4CE;
}
.board__tile--path:nth-child(2n) {
  background-color: #a9ae9d;
}
.board__tile--challenge {
  background-color: #FF434D;
}
.board__tile--correct {
  background-color: #688951;
}
.board__tile--wrong {
  background-color: #99282e;
}

.question-image {
  width: inherit;
  height: inherit;
}

.game-btn:focus {
  box-shadow: none;
}
.game-btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(to bottom, #FF434D, #1C1C1A 85%);
  border-top: 2px solid #FF434D;
  border-bottom: 2px solid #1C1C1A;
  border-radius: 3px;
}
.game-btn--border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 72px;
  padding: 7px 5px;
  background-color: #31333a;
  border-top: 2px solid #F2E4CE;
  border-bottom: 2px solid #1C1C1A;
  border-radius: 3px;
}
.game-btn--textwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 66px;
  background: radial-gradient(circle, #FF434D 45%, #99282e 85%, #1C1C1A 105%);
  border-radius: 2px;
  text-decoration: none;
}
.game-btn--textwrap:hover {
  background: radial-gradient(circle, #FF434D 75%, #99282e 95%, #1C1C1A 125%);
}
.game-btn--text {
  font-family: "Kalam", cursive;
  font-size: 24px;
  color: #000;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.characters__modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #31333a;
  z-index: 99999;
}
.characters__modal--cards {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.characters__modal--message {
  padding: 20px;
  color: #F2E4CE;
  font-size: 30px;
}
.characters__modal--button-wrap {
  display: flex;
  flex-direction: row;
}
.characters__modal--button {
  background-color: #99282e;
  border-top: 2px solid #F2E4CE;
  border-bottom: 2px solid #1C1C1A;
  padding: 15px;
  margin: 15px;
  color: #F2E4CE;
  font-family: "Kalam", cursive;
  font-size: 24px;
  cursor: pointer;
}
.characters__headline {
  font-size: 24px;
  font-family: "Carrois Gothic SC", sans-serif;
  min-height: 60px;
  margin: 0px auto;
  padding: 25px;
  color: #F2E4CE;
}
.characters__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
  margin: 0px auto;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .characters__container {
    width: 700px;
  }
}
.characters__card {
  text-decoration: none;
  color: inherit;
  width: 270px;
  height: auto;
  padding: 10px;
  margin: 20px;
  background: radial-gradient(ellipse, transparent 75%, #2D2E2B 145%);
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  transition: 0.1s;
}
@media only screen and (min-width: 768px) {
  .characters__card {
    flex-grow: 1;
  }
}
.characters__card:hover {
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}
.characters__card:active {
  padding: 5px;
  margin: 25px;
  color: inherit;
}
.characters__card:visited {
  color: inherit;
}

.card__title {
  color: #000;
  align-self: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.card__titles-list {
  display: block;
  list-style: none;
  padding: 0px;
  background-color: #F2E4CE;
  padding: 15px;
}
.card--selected {
  box-shadow: 0px 0px 10px #FF434D;
}

.dice {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background-color: #99282e;
  border-right: 7px solid #993f40;
  border-bottom: 7px solid #1C1C1A;
  border-radius: 7px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}
.dice:hover {
  cursor: pointer;
}
.dice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 25px;
}
.dice-headline {
  color: #F2E4CE;
  padding: 25px;
}
.dice-face {
  width: inherit;
  height: inherit;
}
.dice-message {
  display: block;
  max-width: 150px;
  color: #F2E4CE;
  padding: 25px;
}

.header-wrap {
  display: flex;
  width: inherit;
  min-height: 70px;
  margin: 0px auto;
  padding: 25px;
  justify-content: center;
}
.header__logo {
  flex-basis: 50%;
  min-width: 250px;
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    flex-basis: 30%;
  }
}
.header__logo--static {
  width: 150px;
  height: auto;
  position: absolute;
  top: 25px;
  left: 25px;
}
@media only screen and (max-width: 767px) {
  .header__logo--static {
    width: 110px;
  }
}

.player {
  display: flex;
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

/* Elements */
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0px auto;
  background-image: url(../../assets/trees.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: block;
  width: 100vw;
  min-height: 100vh;
  margin: 0px auto;
  background-color: rgba(49, 51, 58, 0.4);
  font-family: "Carrois Gothic SC", sans-serif;
}

main {
  padding-bottom: 25px;
  margin: 0px auto;
}

/* Objects */
.main-wrapper {
  width: inherit;
  margin: 0px auto;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .main-wrapper {
    width: 700px;
  }
}

.grid {
  display: flex;
}
.grid__item {
  flex-basis: 100%;
}
.grid--one-third {
  flex-basis: 33%;
}
.grid--two-thirds {
  flex-basis: 66%;
}
.grid--center {
  justify-content: center;
}

/* Utilities */
.padding-top--xlarge {
  padding-top: 30px;
}

/*# sourceMappingURL=main.css.map */
