@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
/* Settings */
/* Colors */
/* rgb: 49 51 58*/
/* Fonts */
/* Spacing */
/* Widths */
/* Media queries */
@font-face {
  font-family: "Game of Thrones";
  src: url(http://icefireboard.com/fonts/Game%20of%20Thrones.ttf);
}
/* Components */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
}
.board-wrapper {
  width: 700px;
  height: auto;
  margin: 0px auto;
}
.board__tile {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  position: relative;
}
.board__tile--dark-brown {
  background-color: #191918;
}
.board__tile--start, .board__tile--finish {
  background-color: #60a0ff;
}
.board__tile--path {
  background-color: #fff2dc;
}
.board__tile--pathgreen {
  background-color: #b6b6b6;
}
.board__tile--challenge {
  background-color: #ff1e29;
}
.board__tile--correct {
  background-color: #6cb438;
}
.board__tile--wrong {
  background-color: #940007;
}
.board__tile--image {
  width: inherit;
  height: inherit;
  position: absolute;
}

.game-btn:focus {
  box-shadow: none;
}
.game-btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(to bottom, #ff1e29, #220d02 85%);
  border-top: 2px solid #ff1e29;
  border-bottom: 2px solid #220d02;
  border-radius: 3px;
}
.game-btn--border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 92px;
  padding: 7px 5px;
  background: linear-gradient(to bottom, #2e2e2e, #1f1f1f 85%);
  border-top: 3px solid #fff2dc;
  border-bottom: 3px solid #000;
  border-radius: 3px;
}
.game-btn--textwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 66px;
  background: radial-gradient(circle, #ff1e29 45%, #940007 85%, #220d02 105%);
  border-radius: 2px;
  text-decoration: none;
}
.game-btn--textwrap:hover {
  background: radial-gradient(circle, #ff1e29 75%, #940007 95%, #220d02 125%);
}
.game-btn--text {
  font-family: "Kalam", cursive;
  font-size: 25px;
  color: #000;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.button {
  border-left: none;
  border-right: none;
  border-top: 2px solid #fff2dc;
  border-radius: 5px;
  height: 50px;
  padding: 0px 15px;
  margin: 15px;
  color: #fff2dc !important;
  font-family: "Kalam", cursive;
  font-size: 25px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button--gray {
  background-color: #1f1f1f;
  border-bottom: 2px solid #000;
}
.button--gray:hover {
  background-color: #2e2e2e;
}
.button--red {
  background-color: #940007;
  border-bottom: 2px solid #311802;
}
.button--red:hover {
  background-color: #ff191d;
}

.characters__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
  margin: 0px auto;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .characters__container {
    width: 700px;
  }
}
.characters__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 270px;
  height: auto;
  padding: 20px;
  margin: 15px;
  transition: 0.1s;
}
@media only screen and (min-width: 768px) {
  .characters__card {
    flex-grow: 1;
  }
}
.characters__card ul {
  list-style: none;
  font-family: "Kalam", cursive;
  padding: 0 0 10px 0;
  margin: 0;
}
.characters__card:hover {
  background-color: #000;
  cursor: pointer;
}
.characters__card:visited {
  color: inherit;
}
.characters__card--selected {
  background-color: #000 !important;
}

.card__title {
  color: #000;
  align-self: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.card__titles-list {
  display: block;
  list-style: none;
  padding: 0px;
  background-color: #fff2dc;
  padding: 15px;
}
.card__image {
  width: 200px;
  height: auto;
  padding-bottom: 15px;
}

#loading {
  display: flex;
  justify-content: center;
}

.loading-gif {
  width: 400px;
  height: 50px;
}

.dice {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background-color: #940007;
  border-right: 7px solid #ff191d;
  border-bottom: 7px solid #220d02;
  border-radius: 7px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}
.dice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 360px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  order: 2;
}
@media only screen and (min-width: 1000px) {
  .dice-wrapper {
    width: 300px;
    margin-top: 70px;
    order: 1;
  }
}
.dice:hover {
  cursor: pointer;
}
.dice--inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.dice--inactive:hover {
  cursor: default;
}
.dice-headline {
  color: #fff2dc;
  padding: 0 0 20px 0;
  margin: 0;
  height: 80px;
  text-align: center;
}
.dice-face {
  width: inherit;
  height: inherit;
}
.dice-message {
  display: block;
  max-width: 150px;
  color: #fff2dc;
  padding: 25px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  min-height: 130px;
  margin: 0 auto;
  padding: 20px;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  align-items: center;
}
.header-wrap--front {
  flex-direction: row;
  padding: 0px;
  justify-content: center;
}
.header-wrap--column {
  flex-direction: column;
}
.header-wrap--column .header__headline {
  margin-left: 0px;
  padding-left: 0px;
}
.header__logo {
  flex-basis: 50%;
  min-width: 250px;
  align-self: center;
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    flex-basis: 30%;
  }
}
.header__logo--static {
  width: 150px;
  align-self: flex-start;
  height: auto;
  align-self: flex-start;
}
@media only screen and (max-width: 767px) {
  .header__logo--static {
    width: 110px;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__headline {
  align-self: center;
  color: #fff2dc;
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  margin-left: 25px;
  padding-left: 25px;
}
.header__player {
  margin-top: 0;
  font-family: "Nothing You Could Do", cursive;
}
.header__final-img-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
}
.header__final-img-crown {
  width: 200px;
  height: auto;
}
.header__characters-img {
  width: 500px;
  height: auto;
}

.characters-modal,
.question-modal,
.info-modal,
.final-modal,
.rage-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: #940007;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9999;
  opacity: 0;
}
.characters-modal__headline,
.question-modal__headline,
.info-modal__headline,
.final-modal__headline,
.rage-modal__headline {
  padding: 20px;
  font-size: 30px;
}
.characters-modal__question,
.question-modal__question,
.info-modal__question,
.final-modal__question,
.rage-modal__question {
  padding: 20px;
}

.characters-modal {
  background-color: #940007;
  opacity: 1;
}
.characters-modal__cards {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.characters-modal__message {
  padding: 20px;
  color: #fff2dc;
  font-size: 30px;
}

.question-modal__image {
  width: 250px;
  height: auto;
}
.question-modal__question {
  max-width: 700px;
}
.question-modal__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.question-modal__answer-wrapper {
  padding-top: 15px;
}
.question-modal__suggestion, .question-modal__result {
  padding: 20px;
}

.info-modal {
  opacity: 1;
}

.final-modal {
  z-index: 999999;
}
.final-modal--won {
  background-color: #6cb438;
  color: #fff2dc;
}
.final-modal--lost {
  background-color: #940007;
  color: #fff2dc;
}
.final-modal__message {
  font-size: 100px;
  font-family: "Carrois Gothic SC", sans-serif;
  color: #fff2dc;
}

.rage-modal__message {
  font-size: 80px;
  transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  color: #ff1e29;
  font-family: "Kalam", cursive;
}
@media only screen and (min-width: 1000px) {
  .rage-modal__message {
    font-size: 100px;
  }
}

.player {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 48%;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.player img {
  width: 100%;
  height: 100%;
}
.player--set-size {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.player--set-size img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.history-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 700px;
  padding: 0 25px;
  margin: 10px auto;
  order: 1;
}
@media only screen and (min-width: 1000px) {
  .history-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    order: 2;
  }
}

.player-messages {
  width: 280px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
}
@media only screen and (min-width: 1000px) {
  .player-messages {
    height: 270px;
  }
}
.player-messages-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
@media only screen and (min-width: 1000px) {
  .player-messages-wrap {
    order: 2;
  }
}
.player-messages__button {
  width: inherit;
  height: 50px;
  color: #000;
  font-size: 20px;
  font-family: "Kalam", cursive;
  text-transform: uppercase;
  border-top: 1px solid #fff2dc;
  border-bottom: 1px solid #311802;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}
.player-messages__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.player-messages__button:hover {
  cursor: pointer;
}
.player-messages__button:focus, .player-messages__button:active {
  outline: none;
}
.player-messages--history {
  background-color: #220d02;
  border-radius: 5px;
  padding: 10px;
}
.player-messages--final {
  height: 650px;
  margin-top: 0;
  padding-top: 0;
}
.player-messages--first {
  font-size: 20px;
}

.scores__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.scores__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  color: #220d02;
  border-radius: 5px;
  margin-bottom: 15px;
}
.scores__number {
  font-size: 100px;
  font-family: "Kalam", cursive;
}

/* Elements */
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0px auto;
  background-image: url(../../assets/sword-pattern.png);
  background-repeat: repeat;
  overflow-x: hidden;
}

body {
  display: block;
  width: 100vw;
  min-height: 100vh;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 16px;
  color: #fff2dc;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Carrois Gothic SC", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

header {
  min-height: 150px;
}

main {
  padding-bottom: 25px;
  margin: 0px auto;
}

a {
  color: #ff1e29;
}
a:visited, a:hover, a:active {
  color: #ff1e29;
}
a:hover {
  text-decoration: none;
}

/* Objects */
.main-wrapper {
  width: inherit;
  margin: 0px auto;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .main-wrapper {
    width: 700px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .grid {
    flex-wrap: nowrap;
    max-width: 1000px;
  }
}
.grid--nowrap {
  flex-wrap: nowrap;
}
.grid--nowrap--one-third {
  flex-basis: 33%;
}
.grid--nowrap--two-thirds {
  flex-basis: 66%;
}
.grid__item {
  flex-basis: 100%;
  padding: 10px;
}
.grid__item--one-third {
  order: 1;
}
@media only screen and (min-width: 1000px) {
  .grid__item--one-third {
    flex-basis: 25%;
    order: 2;
  }
}
.grid__item--two-thirds {
  order: 2;
}
@media only screen and (min-width: 1000px) {
  .grid__item--two-thirds {
    flex-basis: 75%;
    order: 1;
  }
}
.grid--center {
  justify-content: center;
  align-items: center;
}
.grid--space {
  justify-content: space-around;
}

.text-align--center {
  text-align: center;
}

/* Utilities */
.padding-top--xlarge {
  padding-top: 40px;
}

/*# sourceMappingURL=main.css.map */
