.board {
  display: flex; 
  flex-wrap: wrap; 
  width: 600px; 
  height: 500px;
  margin: $none auto; 
  padding: $none; 
  background-color: $darkBrown;
  border-radius: 3px; 

  &-wrapper {
    width: 600px; 
    height: auto;
    background-color: $brown; 
    padding: $spacingLarge; 
    border-top: 2px solid $cream;
    border-bottom: 2px solid $darkBrown;
    border-radius: 3px; 
    margin: $none auto;
  }
  &__tile {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;

    &--dark-brown { background-color: $darkerBrown; }

    &--start, &--finish { background-color: $blue; }
    &--path {
      background-color: $cream; 
      &green { background-color: $lightGreen; }
    }
    &--challenge { background-color: $brightRed; }
    &--correct { background-color: $green; }
    &--wrong { background-color: $strongRed; }
    &--image {
      width: inherit; 
      height: inherit; 
      position: absolute; 
    }
  }
}