.board {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 600px;
  margin: $none auto;
  padding: $none;

  &-wrapper {
    width: 700px;
    height: auto;
    margin: $none auto;
  }
  &__tile {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 58px;
    height: 58px;
    box-sizing: border-box;
    //border: 0.5px solid $brown;
    position: relative;

    &--dark-brown {
      background-color: $darkerBrown;
    }

    &--start,
    &--finish {
      background-color: $blue;
    }
    &--path {
      background-color: $cream;
      &green {
        background-color: $lightGreen;
      }
    }
    &--challenge {
      background-color: $brightRed;
    }
    &--correct {
      background-color: $green;
    }
    &--wrong {
      background-color: $strongRed;
    }
    &--image {
      width: inherit;
      height: inherit;
      position: absolute;
    }
  }
}
