
.characters {

  &__container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    width: inherit;
    @media #{$tablet}{
      width: $narrowWidth;
    } 
    margin: $none auto; 
    padding: $spacingLarge;
  }

  &__card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    color: $black;
    width: 270px; 
    height: auto; 
    padding: $spacingSmall;
    margin: $spacingLarge;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    transition: 0.1s;
    @media #{$tablet}{
      flex-grow: 1;
    } 
    &:hover {
      padding: $spacingMedium;
      margin: $spacingMedium; 
      cursor: pointer; 
    }
    &:active {
      padding: $spacingXSmall; 
      margin: $spacingXLarge;
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
    & ul {
      list-style: none; 
      font-family: $buttonFont;
      padding: 0 0 $spacingSmall 0; 
      margin: 0; 
    }
  }
}

.card {

  &__title {
    color: $black;
    align-self: center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: $spacingMedium;
  }
  &__titles-list {
      display: block; 
      list-style: none; 
      padding: $none; 
      background-color: $cream;
      padding: $spacingMedium;
  }
  &--selected {
    box-shadow: 0px 0px 10px $cream;
  }
}

#loading {
  display: flex; 
  justify-content: center;
}
.loading-gif {
  width: 400px;
  height: 50px;
}