
.characters {

  &__container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    width: inherit;
    @media #{$tablet}{
      width: $narrowWidth;
    } 
    margin: $none auto; 
    padding: $spacingLarge;
  }

  &__card {
    text-decoration: none; 
    color: inherit;
    width: 270px; 
    height: auto; 
    padding: $spacingSmall;
    margin: $spacingLarge;
    background: radial-gradient(ellipse, transparent 75%, $brown 145%);
    border-radius: 3px; 
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    transition: 0.1s;
    @media #{$tablet}{
      flex-grow: 1;
    } 
    &:hover {
      padding: $spacingMedium;
      margin: $spacingMedium; 
      cursor: pointer; 
    }
    &:active {
      padding: $spacingXSmall; 
      margin: $spacingXLarge;
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

.card {

  &__title {
    color: $black;
    align-self: center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: $spacingMedium;
  }
  &__titles-list {
      display: block; 
      list-style: none; 
      padding: $none; 
      background-color: $cream;
      padding: $spacingMedium;
  }
}