.characters {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    @media #{$tablet} {
      width: $narrowWidth;
    }
    margin: $none auto;
    padding: $spacingLarge;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 270px;
    height: auto;
    padding: $spacingLarge;
    margin: $spacingMedium;
    transition: 0.1s;

    @media #{$tablet} {
      flex-grow: 1;
    }

    & ul {
      list-style: none;
      font-family: $buttonFont;
      padding: 0 0 $spacingSmall 0;
      margin: 0;
    }

    &:hover {
      background-color: $black;
      cursor: pointer;
    }

    &:visited {
      color: inherit;
    }
    &--selected {
      background-color: $black !important;
    }
  }
}

.card {
  &__title {
    color: $black;
    align-self: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  &__titles-list {
    display: block;
    list-style: none;
    padding: $none;
    background-color: $cream;
    padding: $spacingMedium;
  }
  &__image {
    width: 200px;
    height: auto;
    padding-bottom: $spacingMedium;
  }
}

#loading {
  display: flex;
  justify-content: center;
}
.loading-gif {
  width: 400px;
  height: 50px;
}
