.dice {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    order: 2;
    @media #{$desktop} {
      width: 300px;
      margin-top: 70px;
      order: 1;
    }
  }
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background-color: $strongRed;
  border-right: 7px solid $red;
  border-bottom: 7px solid $darkBrown;
  border-radius: 7px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);

  &:hover {
    cursor: pointer;
  }

  &--inactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
      cursor: default;
    }
  }
  &-headline {
    color: $cream;
    padding: 0 0 $spacingLarge 0;
    margin: 0;
    height: 80px;
    text-align: center;
  }
  &-face {
    width: inherit;
    height: inherit;
  }
  &-message {
    display: block;
    max-width: 150px;
    color: $cream;
    padding: $spacingXLarge;
  }
}
