.dice {
    &-wrapper {
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      order: 2;
      @media #{$desktop} {
        order: 1;
      }
      user-select: none;
      -ms-user-select: none; 
      -webkit-user-select: none;
    }
    display: flex; 
    justify-content: center; 
    align-content: center; 
    width: 70px;
    height: 70px; 
    background-color: $strongRed;
    border-right: 7px solid $red; 
    border-bottom: 7px solid $darkBrown;
    border-radius: 7px;
    transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    margin: $spacingLarge;
    
    &:hover {
      cursor: pointer; 
    }
    
    &--inactive{
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover {
        cursor: default;
      }
    }
    &-headline {
      color: $cream;
      padding: 0 0 $spacingLarge 0;
      margin: 0;
      text-align: center; 
    }
    &-face {
      width: inherit; 
      height: inherit; 
    }
    &-message {
      display: block; 
      max-width: 150px; 
      color: $cream;
      padding: $spacingXLarge;
    }
  }

  .history-wrapper {
      display: flex; 
      flex-direction: row; 
      justify-content: space-around;
      align-items: center; 
      width: 600px; 
      padding: 0 $spacingXLarge;
      margin: $spacingSmall auto; 
      @media #{$desktop} {
        flex-direction: column;
        justify-content: center;
        width: 200px;
      }
  }