
.footer {
  
  &-wrap {
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    width: inherit;
    min-height: 130px; 
    margin: 0 auto;
    padding: $spacingLarge;
  }
}
