.header {

  &-wrap {
      display: flex;
      flex-direction: column; 
      max-width: 600px;
      min-height: 140px;
      margin: $none auto;
      padding: $spacingXLarge;
      justify-content: center; 
      align-items: center;
      @media #{$desktop}{
        max-width: $mediumWidth;
      }
    &--front{ flex-direction: row; }
  }
  &__logo {
    flex-basis: 50%; 
    @media #{$tablet}{ flex-basis: 30%; }
    min-width: 250px;
    padding-top: $spacingXLarge;
    
    &--static {
      width: 150px; 
      align-self: flex-start;
      @media #{$mobile}{ width: 110px; }
      height: auto; 
      align-self: flex-start;
    }
  }
  &__content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  &__headline{
    align-self: center; 
    color: $cream; 
  }
}