.characters-modal,
.question-modal,
.info-modal,
.final-modal,
.rage-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: $strongRed;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9999;
  opacity: 0;

  &__headline {
    padding: $spacingLarge;
    font-size: $large;
  }
  &__question {
    padding: $spacingLarge;
  }
}
.characters-modal {
  background-color: $strongRed;
  opacity: 1;

  &__cards {
    display: flex;
    flex-direction: row;
    padding: $spacingLarge;
  }
  &__message {
    padding: $spacingLarge;
    color: $cream;
    font-size: $large;
  }
}
.question-modal {
  &__image {
    width: 250px;
    height: auto;
  }
  &__question {
    max-width: $narrowWidth;
  }
  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__answer-wrapper {
    padding-top: $spacingMedium;
  }
  &__suggestion,
  &__result {
    padding: $spacingLarge;
  }
}

.info-modal {
  opacity: 1;
}
.final-modal {
  z-index: 999999;
  &--won {
    background-color: $green;
    color: $cream;
  }
  &--lost {
    background-color: $strongRed;
    color: $cream;
  }
  &__message {
    font-size: 100px;
    font-family: $bodyFont;
    color: $cream;
  }
}

.rage-modal {
  &__message {
    font-size: 80px;
    transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    color: $brightRed;
    font-family: $buttonFont;
    @media #{$desktop} {
      font-size: 100px;
    }
  }
}
