
.question-modal, .info-modal, .final-modal, .rage-modal{
  display: none; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-width: 100%; 
  min-height: 100%;
  background-color: $strongRed;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 9999;
  opacity: 0;

  &__headline {
      padding: $spacingXLarge;
  }
  &__question {
      padding: $spacingXLarge;
  }
}

.question-modal {
  &__form{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
  }
  &__input{
    min-width: 150px;
    height: 40px;
    padding: $spacingSmall;
    border-top: 1px solid $cream;
    border-bottom: 1px solid $darkBrown;
    border-right: none; 
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    color: $black;
    font-size: $regular; 
    box-sizing: border-box; 
    &:focus {
      outline: none; 
    }
  }
  &__submit, &__ok-btn { 
    width: auto;
    height: 40px; 
    padding: $spacingSmall;
    border-top: 1px solid $cream;
    border-bottom: 1px solid $darkBrown;
    border-right: 1px solid $brown;
    border-left: none; 
    border-radius: 0px 5px 5px 0px;
    background-color: $brown; 
    color: $cream; 
    font-size: $regular;
    font-family: $buttonFont;
    box-sizing: border-box;
    text-transform: uppercase;

    &:focus {
      outline: none; 
    }
    &:hover {
      cursor: pointer; 
      background-color: $darkBrown; 
    }
  }
  &__ok-btn {
    min-width: 100px; 
    border-left: 1px solid $brown; 
    border-radius: 5px; 
    margin: $spacingMedium;  
  }
}

.info-modal {
  opacity: 1; 

  &__button{
    display: inline-block;
    min-width: 100px; 
    height: 40px;
    padding: $spacingSmall;
    background-color: $brown;
    border-top: 1px solid $cream;
    border-bottom: 1px solid $darkBrown;
    border-left: 1px solid $brown; 
    border-right: 1px solid $brown; 
    border-radius: 5px; 
    box-sizing: border-box;
    margin: $spacingMedium; 
    font-family: $buttonFont; 
    color: $cream;
    text-decoration: none; 
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: $darkBrown;
    }
    &:visited, &:active{
      color: inherit;
    }
  }
}
.final-modal {
  z-index: 999999;
  &--won {
    background-color: $green;
    color: $lightGreen; 
  }
  &--lost {
    background-color: $strongRed;
    color: $brightRed;
  }
  &__message {
    font-size: 100px;
    font-family: $bodyFont; 
    color: inherit; 
  }
}

.rage-modal {
  &__message {
    font-size: 80px;
    transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    color: $brightRed;
    font-family: $buttonFont;
    @media #{$desktop}{
      font-size: 100px;
    }
  }
}