
.player-messages {
  width: 280px; 
  height: 200px;
  overflow: scroll;
  padding-top: $spacingLarge;
  list-style: none;
  @media #{$desktop} {
    height: 350px;
  }

  &__button {
    &-wrap {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 100%; 
    }
    
    width: inherit; 
    height: 50px;
    color: $black;
    font-size: $regular; 
    font-family: $buttonFont;
    text-transform: uppercase;
    border-top: 1px solid $cream; 
    border-bottom: 1px solid $brown; 
    border-radius: 5px;
    box-shadow: 3px 0px 3px rgba(0,0,0,0.3);
    margin: 10px 0px; 
    &:hover {
      cursor: pointer; 
    }
    &:focus, &:active {
      outline: none; 
    }
  }

  &--history {
    background-color: $darkBrown;
    border-radius: 5px; 
    padding: $spacingSmall;
  }
  &--final {
    height: 650px; 
    margin-top: 0; 
    padding-top: 0; 
  }
}