
.player-messages {
  width: 280px; 
  height: 100px;
  overflow: scroll;
  list-style: none;
  @media #{$desktop} {
    height: 270px;
  }

  &-wrap {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-top: $spacingLarge;
    order: 1;
    @media #{$desktop} {
      order: 2;
    }
  }
  &__button {
    &-wrap {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 100%; 
    }
    
    width: inherit; 
    height: 50px;
    color: $black;
    font-size: $regular; 
    font-family: $buttonFont;
    text-transform: uppercase;
    border-top: 1px solid $cream; 
    border-bottom: 1px solid $brown; 
    border-radius: 5px;
    box-shadow: 3px 0px 3px rgba(0,0,0,0.3);
    margin: 10px 0px; 
    &:hover {
      cursor: pointer; 
    }
    &:focus, &:active {
      outline: none; 
    }
  }

  &--history {
    background-color: $darkBrown;
    border-radius: 5px; 
    padding: $spacingSmall;
  }
  &--final {
    height: 650px; 
    margin-top: 0; 
    padding-top: 0; 
  }
}

.ragequit {
  display: inline-flex;
  justify-content: center; 
  width: 150px; 
  height: 40px; 
  padding: $spacingSmall;
  background-color: $strongRed; 
  border-top: 1px solid $cream;
  border-right: 1px solid $red;
  border-bottom: 1px solid $darkBrown; 
  border-left: 1px solid $brown;
  border-radius: 5px; 
  box-sizing: border-box;
  font-family: $buttonFont; 
  font-size: $regular; 
  color: $cream; 
  text-transform: uppercase; 
  text-decoration: none; 
  margin: $spacingLarge;
  &:hover {
    background-color: $brightRed;
    cursor: pointer;
  }
}