<!doctype html>
<html lang="en">
  <head>
    <meta name="Description" content="A Game of Thrones board game." />
    <meta name="Author" content="Jenny Bonsak" />

    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />

    <link href="../resources/css/main.css" type="text/css" rel="stylesheet" />
    <title>A Game of Ice and Fire | In Game</title>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="header__logo--static">
          <a href="index.html">
            <img src="../assets/head.svg" alt="A Game of Ice and Fire" />
          </a>
        </div>
        <h1 class="header__headline">Be the first to cross the finish line!</h1>
      </div>
    </header>  
  
    <main>
      <div class="info-modal"></div>
      <div class="question-modal"></div>
        <div class="grid grid--center">
          <div class="grid__item--twothirds">
            <div class="board-wrapper">
                <div class="board"></div>
            </div>
          </div>
          <div class="grid__item--onethird">
              <div class="history-wrapper">
                <h2 class="dice-headline">Roll the dice!</h2>
                <div class="dice">
                    <img class="dice-face" src="../assets/dice1.svg" alt="dice face" />
                </div>
                <div class="player-messages">
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </main>

    <script src="../resources/js/game.js"></script>
  </body>
</html>