<!doctype html>
<html lang="en">
  <head>
    <meta name="Description" content="A Game of Thrones board game." />
    <meta name="Author" content="Jenny Bonsak" />

    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />

    <link href="../resources/css/main.css" type="text/css" rel="stylesheet" />
    <title>A Game of Ice and Fire | In Game</title>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="header__logo--static">
          <a href="index.html">
            <img src="../assets/head.svg" alt="A Game of Ice and Fire" />
          </a>
        </div>
        <h1 class="header__headline">In Game</h1>
      </div>
    </header>  
  
    <main>
      <div class="">
        <ul class="score__list"></ul>
      </div>
      <div class="board-wrapper">
          <div class="board"></div>
      </div>
    </main>

    <script src="../resources/js/game.js"></script>
  </body>
</html>